#canvas{
  position: relative;
}
#show_num{
  position: absolute;
  z-index: 111;
}
.show_num{
  border: 1px solid #bfbfbf;
  background-color: #fff;
  width: 90px;
  height: 24px;
  line-height: 24px;
  text-indent: 5px;
  position: relative;
  z-index: 0;
}
#show_num em{
  position:absolute;
  bottom:-7px;
  left:4px;
  overflow:hidden;
  width:13px;
  height:13px;
  background:#fff;
  border-bottom:1px solid #bfbfbf;
  border-right:1px solid #bfbfbf;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
  z-index: -2;
}
