*{
	margin: 0;
	padding: 0;
}
.tab-nav.tabs{
	display: none;
}
.content_wrap {
	width: 100%;
	overflow: hidden;
	padding-top: 10px;
	margin: 0 auto;
	margin-top: 44px;
}
a {
	text-decoration: none;
	color: #444;
}
a:hover{
	text-decoration: none;
}
a:focus{
	color: #444;
	text-decoration: none;
}
.row{
	margin: 0;
	padding: 0;
	overflow: auto;
}
li{
	list-style: none;
}
.daohang {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: auto;
}
.daohang a{
	background: #ddd;
	border-radius: 10px 10px 0 0;
	text-align: center;
	color: #444;
}
.daohang .current{
	background: #8F8F8F;
	color: #fff;
}
.content{
	width: 100%;
	overflow: hidden;
	padding: 0 10px;
}
.tab{
	overflow: auto;
	display: none;
}
.show{
	display: block;
}
.switch{
	width: 100%;
	overflow: hidden;
	padding: 5px 0;
}
.btn_switch{
	font-size:1em;
	line-height: 34px;
	margin-left: 5px;
}
.xinhaoyuan{
	padding: 0;
	padding-left: 5px;
}
.qiehuan{
	padding: 5px;
	background: #ddd;
}
.btn-default{
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	margin: 0;
	padding: 0;
}
.yinliang span,.yinliangshow,.yinliang div{
	float: left;
	line-height: 34px;
}
.sensor
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse:collapse;
  font-size: 10px;
  border: 1px solid #dee5e7;
  border-right: none;
}
.sensor div{
	border-right: 1px solid #dee5e7;
}
label{
	font-weight: 400;
}
.switchname{
	margin-top: 6px;
}
#navi_wrap3{
	position: fixed;
	overflow: hidden;
	width: 100%;
	background: #000000;
	z-index: 20;
	top: 0;
	left: 0;
	display: none;
}
.navi_content{
	width: 100%;
	/*max-width: 1200px;*/
	margin: 0 auto;
}
.navi_content>div{
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ececec;
}
.navi_content a{
	width: 100%;
	color: #FFFFFF;
	float: left;
}
.offbtn{
	width: 30px;
	height: 30px;
	font-size: 30px;
	line-height: 30px;
	color: #c00;
	text-align: center;
	background: #000000;
	margin-top: 5px;
	float: right;
}
.col input{
	margin: auto 5px;
}