<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.igrs.igrsiot.mapper.OperateMapper">
    <!--<insert id="insertOperate" parameterType="IgrsOperate">-->
        <!--insert into igrs_operate(user,operate_time,device_id,instruction) values(#{user},#{operate_time},#{device_id},#{instruction})-->
    <!--</insert>-->

    <!--<select id="getOperates1" resultType="IgrsOperate">-->
        <!--select user,operate_time,device_id,instruction from igrs_operate-->
    <!--</select>-->

    <!--<select id="getOneOperate">-->
        <!--select user from igrs_operate where id="1"-->
    <!--</select>-->
</mapper>